:root {
  --black: black;
  --white: white;
}

* {
  font-family: Helvetica, Arial, sans-serif;

}


.gif__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gif__card {
  flex-basis: 20%;
  display: inline-flex;
  padding: 25px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 29px 11px rgba(100, 100, 111, 0.2);
}

.gif__card--img {
  max-height: 40%;
  min-height: 40%;
}

.gif__card-title {
  font-size: 1rem;
  font-weight: bold;
}

.gif__card-text {
  font-size: 0.8rem;
}

.card-body {
  margin: 0;
  padding: 0;
}